<div class="calculator">
    
</div>


<h1>{{ value }} </h1>

<div class="display-container">
    <h3 class="display-container__item">{{ side[0] }}</h3>
    <h3 class="display-container__item">{{ side[1] }}</h3>
</div>


<div class="input-container">
    <button (click) = "handleClick(1, false)" class="input-container__item">{{ 1 }}</button>
   
    <button (click) = "handleClick(2, false)" class="input-container__item">{{ 2 }}</button>
    
</div>

<button (click) = "handleClick('AC', true)" class="input-container__item">{{ 'AC' }}</button>
<button (click) = "handleClick('+', true)" class="input-container__item">{{ '+' }}</button>
<button (click) = "handleClick('*', true)" class="input-container__item">{{ '*' }}</button>
<button (click) = "handleClick('=', true)" class="input-container__item">{{ '=' }}</button>