.display-container {
    display: flex;
    width: 20rem;
    height: 5rem;
    justify-content: space-around;
}

.display-container__item {
    flex: 1;
}



.input-container {
    display: flex;
    width: 25rem;
    height: 5rem;
    justify-content: space-between;
}

.input-container__item {
    height: 5rem;
    width: 5rem;
    font-weight: bolder;
    font-size: large;
}